<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页左侧导航</title>
<link rel="stylesheet" type="text/css" href="/static/css/public.css" />
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/public.js"></script>
<head></head>

<body id="bg">
	<!-- 左边节点 -->
	<div class="container">

		<div class="leftsidebar_box">
			<a href="/user/fblist/" target="main"><div class="line">
					<img src="/static/img/coin01.png" />&nbsp;&nbsp;首页
				</div></a>
			<dl class="system_log">
					<dt>
						<img class="coin11" src="/static/img/coin03.png" /><a class="cks" href="/user/userlist/"
							target="main">用户列表</a>
					</dt>
			</dl>

			<dl class="system_log">
					<dt>
						<img class="coin11" src="/static/img/coin03.png" /><a class="cks" href="/user/postsearchall/"
							target="main">搜索帖子</a>
					</dt>
            </dl>
            
            <dl class="system_log">
    				<dt>
    					<img class="coin11" src="/static/img/coin03.png" /><a class="cks" href="/user/changepwd/"
							target="main">修改个人信息</a>
					</dt>
			</dl>
			
			<dl class="system_log">
					<dt>
						<img class="coin11" src="/static/img/coin03.png" /><a class="cks" href="/user/logout/" 
						target="_top">退出</a>
					</dt>
			</dl>

		</div>

	</div>
</body>
</html>
